 /* color theme: green */
#header, #header #short-status {
	color: #CCCCCC;
	background-color: #F5824B;
}

#submenu,
#mainmenu,
#save .page-save, #footer { background-color: #E6550F; }

#save .apply { background-color: #F5824B; }

#mainmenu a:hover,
#submenu a:hover,
#mainmenu .selected a,
#submenu .selected a,
#save a:hover { background-color: #E9772F; }

#content h3 { background-color: #F5824B; }

.progressbar-filled {
	color: White;
	background-color: #2b1b9f;
}

.progressbar-unfilled {
	color: Black;
	background-color: Black;
}
